In [8]:
# import pyodbc
# print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)']

In [11]:
import pyodbc

connection = pyodbc.connect("Driver={SQL Server};"
                            r"Server=DESKTOP-75UE17H\SQLEXPRESS;"
                            "Database=W3Resource;"
                            "Trusted_Connection=yes;")

cursor = connection.cursor()
sql = "SELECT * FROM Employee.department"  # Adjust this if needed
cursor.execute(sql)
newresult = cursor.fetchall()

if newresult:
    print(newresult[0])  # Print the first row
else:
    print("No data found.")

connection.close()

(1001, 'FINANCE', 'SYDNEY')

In [19]:
import pyodbc

connection = pyodbc.connect("Driver={SQL Server};"
                            r"Server=DESKTOP-75UE17H\SQLEXPRESS;"
                            "Database=W3Resource;"
                            "Trusted_Connection=yes;")

cursor = connection.cursor()
sql_statements =[
    "create database HWL17;",
    "use HWL17;",
    "create table Roster(Name varchar(50), Species varchar(50), Age int);",
    "insert into Roster values ('Benjamin Sisko', 'Human', 40), ('Jadzia Dax','Trill',300), ('Kira Nerys','Bajoran', 29);",
    "update  Roster set Name='Ezri Dax' where Age=300;"] 
for statement in sql_statements:
    cursor.execute(statement)
sql="select Name, Age from Roster where Species='Bajoran'"
result=cursor.execute(sql)
newresult = result.fetchall()

if newresult:
    print(newresult)
else:
    print("No data found.")

connection.close()

[('Kira Nerys', 29)]

In [12]:
import sqlite3

connection=sqlite3.connect('sqlite_db.sqlite')

In [13]:


cursor=connection.cursor()
sql_statements =[
    "drop table if exists Roster;",
    "create table Roster(Name text, Species text, Age int);",
    "insert into Roster values ('Benjamin Sisko', 'Human', 40), ('Jadzia Dax','Trill',300), ('Kira Nerys','Bajoran', 29);"]
sql_statement1="update  Roster set Name='Ezri Dax' where Age=300;"
sql_statement2="select Name, Age from Roster where Species='Bajoran'"

for statement in sql_statements:
    cursor.execute(statement)
connection.commit()
cursor.execute(sql_statement1)
connection.commit()
result=cursor.execute(sql_statement2)

newresult = result.fetchall()

if newresult:
    print(newresult)
else:
    print("No data found.")

connection.close()

[('Kira Nerys', 29)]

In [16]:
import sqlite3

sql_statements =[
    "drop table if exists Roster;",
    "create table Roster(Name text, Species text, Age int);",
    "insert into Roster values ('Benjamin Sisko', 'Human', 40), ('Jadzia Dax','Trill',300), ('Kira Nerys','Bajoran', 29);"]
sql_statement1="update  Roster set Name='Ezri Dax' where Age=300;"
sql_statement2="select Name, Age from Roster where Species='Bajoran';"

with sqlite3.connect('sqlite_db1.sqlite') as connection:
    cursor = connection.cursor()
    for statement in sql_statements:
        cursor.execute(statement)
    connection.commit()
    cursor.execute(sql_statement1)
    connection.commit()
    result=cursor.execute(sql_statement2)
    newresult = result.fetchall()
    if newresult:
        print(newresult)
    else:
        print("No data found.")

[('Kira Nerys', 29)]